html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a2c38;
}

#app {
    margin: 0;
    display: flex;
    height: 60vh;
    width: 60vw;
}

.side {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #213744;
    padding: 20px;
}

label {
    color: #00e701;
    margin-bottom: 5px;
}

.input-wrapper {
    position: relative;
    width: 80%;
}

#userInput {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 8px;
    border: 1px solid #2e4a5c;
    background: #1a2c38;
    color: #e7f7ff;
    outline: none;
}

.currency {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #00e701;
    font-size: 1.3em;
    pointer-events: none;
}

#playButton {
    margin-top: 10px;
    padding: 10px;
    background-color: #00e701;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#playButton:hover {
    background-color: #b2f7b2;
}

#tarot {
    flex: 1;
    width: 100%;
}

